@import url(https://fonts.googleapis.com/css?family=Stalemate|Open+Sans:300|Roboto:300);


html, body {
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
  font-family: Roboto;
  background-color: #fff;
  margin: 0 auto;
}

h2, h3, h4, h5, h6, p, a {
  color: #384047;
}


/*************************
Navigation
**************************/

.navigation {
  position: relative;
}

nav {
  text-align: center;
  padding: 15px 10px;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-size: 1.25em;
}

nav a {
  padding: 15px 10px;
  text-decoration: none;
  color: black;
}

/*************************
Footer
**************************/

footer {
	font-size: 0.75em;
	text-align: center;
	clear: both;
	padding-top: 100px;
	color: #191919;
  padding-bottom: 1em;
}

i {
  color: #191919;
  padding-right: 30px;
  text-align: center;
}


/*************************
Home Page
**************************/
.temperature p {
  color: white;
  text-align: right;
  margin-top: -2.7%;
  margin-right: 3%;
  font-size: 1.1em;
}

.title {
  text-align: center;
  padding-bottom: 1.5em;
}
.title h1 {
  font-family: Stalemate, sans-serif;
  font-weight: 600;
  font-size: 8em;
  color: #191919;
  margin: 0;
  padding-top: 20px;
}
.title h3 {
  padding-top: 0;
}



.time {
  color: white;
  text-align: center;
  height: 100%;
}

/*.quotes p {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.author p {
  text-align: center;
  font-family: cursive;
  color: white;
}*/

.time p {
  font-family: 'Open+Sans', sans-serif;
  font-size: 2em;
  color: black;
}

.imageContainer {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  flex-wrap: wrap;
}


.skills > img {
  height: 75px;
  width: 75px;
  display: block;
  margin: 0 auto;
}

/*************************
About Page
**************************/
.aboutContainer {
  max-width: 43.750em;
  margin: 5em auto  ;
}
.intro {
  text-align: center;
}
.aboutMe > p {
  text-align: left;
}

/*************************
Portfolio Page
**************************/
#projects  {
  max-width: 43.750em;
  margin: 0 auto;
  text-align: center;
}

#projects img {
  border: .5px solid #f4f7f8;
}

h4 {
  font-family: Roboto;
  font-weight: bold;
  padding-top: 2em;
  font-size: 1.125em;
}

.lead {
  margin-top: 0;
  margin-bottom: 1.330em;
}

.aboutProject {
  text-align: left;
  padding-top: 2em;
  padding-bottom: 1.5em;
}

.break {
  padding-top: 5px;
}
.technologies {
  text-decoration: underline;
  margin-top: 0;
}

/*************************
MOBILE STYLES
**************************/
@media only screen and (max-width: 960px) {
html {
  max-width: 480px;
}

p {
padding: 0 10px;
}

.imageContainer {
  max-width: 480px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skills > img {
  height: 75px;
  width: 75px;
  display: block;
  padding-right: 2.5em;
}

.bottom {
  padding-top: 2em;
}

#projects img {
  border: .5px solid #f4f7f8;
  width: 480px;
  text-align: center;

}


@media only screen and (max-width: 480px) {
html {
  max-width: 320px;
}
.title h1 {
  font-size: 4.5em;
}



.skills > img {
  padding-right: 2em;
  padding-bottom: 2em;
}

.bottom {
  padding-top: 0;
}

#projects img {
  border: .5px solid #f4f7f8;
  width: 320px;
  text-align: center;
}
