<div class="content">
  <div class="title">
    <h1>Nathan Allen</h1>
    <h3>Web Developer</h3>
  </div>
  <div class="imageContainer">
      <div class="skills">
        <img src="photos/angular.jpg" alt="Angular" />
      </div>
      <div class="skills">
        <img src="photos/html5.jpg" alt="HTML" />
      </div>
      <div class="skills">
        <img src="photos/css3.svg" alt="CSS" />
      </div>
      <div class="skills">
        <img src="photos/js.svg" alt="Javascript" />
      </div>
      <div class="skills">
        <img class="bottom" src="photos/mongodb.jpg" alt="MongoDB" />
      </div>
      <div class="skills">
        <img class="bottom" src="photos/node.jpg" alt="Node" />
      </div>
      <div class="skills">
        <img class="bottom" src="photos/socket.jpg" alt="Socket.io" />
      </div>
      <div class="skills">
        <img class="bottom" src="photos/git.jpg" alt="GitHub" />
      </div>
  </div>
