<div class="content">

  <!-- <div class="temperature">
    <p>Provo Temp: {{temperature}}&deg</p>
  </div> -->

  <div class="title">
    <h1>Nathan Allen</h1>
  </div>
  <div class="imageContainer">
    <div class="skills">
      <img src="photos/angular.jpg" alt="Angular" />
    </div>
    <div class="skills">
      <img src="photos/html5.jpg" alt="HTML" />
    </div>
    <div class="skills">
      <img src="photos/css3.svg" alt="CSS" />
    </div>
    <div class="skills">
      <img src="photos/js.svg" alt="Javascript" />
    </div>
    <div class="skills">
      <img src="photos/MongoDB.jpg" alt="MongoDB" />
    </div>
    <div class="skills">
      <img src="photos/node.jpg" alt="Node" />
    </div>
    <div class="skills">
      <img src="photos/socket.jpg" alt="Socket.io" />
    </div>
    <div class="skills">
      <img src="photos/git.jpg" alt="GitHub" />
    </div>
</div>
  <!-- <div class="time">
    <p><show-time></show-time></p>
  </div> -->

  <!-- <div ng-repeat="phrase in phrases">
      <div class="quotes">
        <p>{{phrase.quote}}</p>
      </div>
      <div class="author">
        <p>{{phrase.author}}</p>
      </div>
    </div> -->
