<div class="aboutContainer">
  <h3 class="intro">
    Hi. I'm Nate.
  </h3>

  <p class="aboutMe">
    Born in California, raised on a farm in the Midwest, I have had a variety of experiences before diving into the wonderful world of web development. Graduating with a MBA from the University of Arkansas allowed me to pursue a career with General Mills
    (Cheerios, anyone?) for the past 5 years.
  </p>
  <p>
    Over the past 3 years I began teaching myself to code, but could never stay as consistent as necessary to master the skill set. This led me to Provo, UT to attend DevMountain, an immersive web-development program at that teaches both front-end and back-end development using the javascript-based MEAN (Mongo, Express, Angular, Node) stack.  Development is a valuable skill set that is shaping the world as we know it, and I'm glad to be a part of it.
  </p>
  <p>
    My intention is to develop meaningful projects that will contribute to the profitability of businesses by growing customer base as well as providing operational efficiencies.  I love viewing projects through the lense of potential customers, and my focus with any assignment is making a clean, user-friendly product.
  </p>
  <p>
    Aside from coding, I love snowboarding, crossfit, and my family (not necessarily in that order). Feel free to hit me up!
  </p>
</div>
