<div id="projects">
  <div class="project1">
    <h3>Macy's Glass</h3>
    <div class="glass">
      <img src="photos/macys-screenshot.png" alt="Macy's Glass" />
    </div>
    <p>
      I was asked to build this site for Macy's Glass out of Neosho, MO. This shop has been in business for 30 years, and this is there first website. I was happy to be able to help the business reach more customers by having an online presence.
    </p>
  </div>
  <div class="project2">
    <h3>The Q</h3>
    <div class="q">
      <img class="q" src="photos/q-student-dashboard.png" alt="The Q" />
    </div>
    <p>
      I was a part of a team of 5 that was tasked with rebuilding the DevMountain queue. This app is an integral part of of DevMountain as it facilitates the mentor-student program as well as gives administrators the ability to view students' progress.
    </p>
  </div>
</div>
